:root {
  --saturated-yellow: hsl(50, 100%, 90%);
  --saturated-blue: hsl(200, 100%, 90%);
  --saturated-red: hsl(0, 100%, 90%);
  --saturated-green: hsl(120, 100%, 90%);
  --saturated-teal: hsl(180, 100%, 90%);
  --saturated-cyan: hsl(210, 100%, 90%);
  --saturated-fuchsia: hsl(265, 100%, 90%);
}

:root {
  --darker-yellow: hsl(35, 100%, 45%);
  --darker-blue: hsl(210, 100%, 35%);
  --darker-red: hsl(360, 100%, 50%);
  --darker-green: hsl(138, 100%, 25%);
  --darker-teal: hsl(180, 100%, 20%);
  --darker-cyan: hsl(226, 100%, 50%);
  --darker-fuchsia: hsl(271, 100%, 50%);
}